// const declare:
$page_color: gray;
$body_background_color: white;

body {
	margin: 100px 0;
}

#book-wrapper {
	* {
		box-sizing: border-box;
	}
	.prev_btn {
		cursor: pointer;
		padding: 10px;
		background: gray;
	}
	.next_btn {
		cursor: pointer;
		padding: 10px;
		background: gray;
	}
}

.book {
	margin: 0 auto;
	.page{
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		width: 100%;
	  z-index: 0;
		&.flipnext,
		&.flipprev {
			z-index: 1;
		}
		&.current {
			z-index: 10;
		}
		.left {
			width: 100%;
			left: 0;
			z-index: 20;
		}
		.right {
			width: 50%;
			right: 0;
			z-index: 10;
		}
		.left,
		.right {
			position: absolute;
			top: 0;
			overflow: hidden;
		}
		.right>.content {
			transform: translate(-50%, 0);
		}
		.content{
			margin: 0 auto;
			padding: 10px;
			background-color: $page_color;
		}
	}
}
