doctype html
html(lang="cn")
	head
		meta(charset="utf8")
		link(rel="stylesheet", href="css/flip.css")
	body
		div.page-flip
			div.current.page
				p 第一页，标题
			// turnning front face
			div.turning.front.page
				p 第一页，标题
			// turnning back face
			div.turning.back.page
				p 第二页，内容
			div.page
				p 第二页，内容
			div.page
				p 第三页，结尾
	
		script(src="js/flip.js")
		
