doctype html
html(lang="cn")
	head
		meta(charset="utf8")
		link(rel="stylesheet", href="css/flip.css")
	body
	
		#book-wrapper
			span.prev_btn 上一页
			span.next_btn 下一页
			.book
				.page
					p 
						新华网北京9月12日电 中共中央政治局9月11日下午就践行“三严三实”进行第二十六次集体学习。中共中央总书记习近平在主持学习时强调，党中央在部署这次专题教育时明确提出要以上率下，中央政治局这次集体学习以“三严三实”为题，就是落实这一要求的行动。中央政治局每位同志都要以身作则，为全党做好示范。“三严三实”是我们天天要面对的要求，大家要时时铭记、事事坚持、处处上心，随时准备坚持真理、随时准备修正错误，凡是有利于党和人民事业的，就坚决干、加油干、一刻不停歇地干；凡是不利于党和人民事业的，就坚决改、彻底改、一刻不耽误地改。
						这次中央政治局集体学习，由中央政治局同志自学并交流体会，马凯、王沪宁、许其亮、李建国、赵乐际就这个问题作了重点发言，中央政治局各位同志听取了他们的发言，并就有关问题进行了讨论。
				// turnning front face
				//- .turning.front
				//- 	p 第一页，标题
				// turnning back face
				//- .turning.back
				//- 	p 第二页，内容
				.page
					p. 
						As with the .prop() method, the .css() method makes setting properties of elements quick and easy. This method can take either a property name and value as separate parameters, or a single object of key-value pairs.
						Also, jQuery can equally interpret the CSS and DOM formatting of multiple-word properties. For example, jQuery understands and returns the correct value for both .css({ "background-color": "#ffe", "border-left": "5px solid #ccc" }) and .css({backgroundColor: "#ffe", borderLeft: "5px solid #ccc" }). Notice that with the DOM notation, quotation marks around the property names are optional, but with CSS notation they're required due to the hyphen in the name.
						When a number is passed as the value, jQuery will convert it to a string and add px to the end of that string. If the property requires units other than px, convert the value to a string and add the appropriate units before calling the method.
						When using .css() as a setter, jQuery modifies the element's style property. For example,  $( "#mydiv" ).css( "color", "green" ) is equivalent to document.getElementById( "mydiv" ).style.color = "green". Setting the value of a style property to an empty string — e.g. $( "#mydiv" ).css( "color", "" ) — removes that property from an element if it has already been directly applied, whether in the HTML style attribute, through jQuery's .css() method, or through direct DOM manipulation of the style property. As a consequence, the element's style for that property will be restored to whatever value was applied. So, this method can be used to cancel any style modification you have previously performed. 
				.page
					p 
						كتب حازم عادل - نورهان حسن قضت محكمة القضاء الإدارى بالقاهرة، اليوم السبت، بإحالة دعوى، إلزام الحكومة بإجراء الكشف الطبى للمرشحين الذين أجروا الكشف بالمجان وعلى نفقة الدولة بالبحيرة، لمن سبق إجراء الكشف عليه، إلى هيئة مفوضى الدولة لإعداد الرأى القانونى. أقام الدعوى الدكتور فارس حبيبة والمرشح لانتخابات مجلس النواب، ضد رئيس الجمهورية ورئيس مجلس الوزراء ووزير الصحة ورئيس اللجنة العليا للانتخابات. 
					
		script(src="lib/jquery.min.1.7.js")
		script(src="lib/flip.js")			
		script(src="js/control.js")
		
		
