doctype html
html(lang="cn")
	head
		meta(charset="utf8")
		link(rel="stylesheet", href="css/flip.css")
	body
	
		#book-wrapper
			span.prev_btn 上一页
			span.next_btn 下一页
			.book
				.page
					img(src="img/1.jpg")
				.page
					img(src="img/2.jpg")
				.page
					img(src="img/3.jpg")
		script(src="lib/jquery.min.1.7.js")
		script(src="lib/flip.js")			
		script(src="js/control.js")
		
		
